---
layout: default
permalink: /404.html
---

<h1><span class="label label-danger">404</span> Oops!</h1>
<div class="alert alert-danger" role="alert">
  This page does not exist. Want to gain some bonus points? Go to
  <a href="{{ site.gitlab_url }}/issues">{{ site.gitlab_url }}/issues</a> and
  report this 404. Check to make sure no one else reported it first! If not, 
  open a new issue at and let me know where you were and the url of the page
  that does not exist.
</div>

<script>
  ga('send', 'event', 'error', '404', window.location.href);
</script>
