---
layout: default
---

<div class="jumbotron">
  <h1>Your School's Newspaper Platform</h1>
  <p>
    Demo for the free and open source school news management system.  Interested in using this at your own school? Send an email <a href="mailto:shafer.alex+schoolnews@gmail.com">here</a>.
  </p>
  <p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Announcements <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{{ site.url }}/views/text/all.html">Text View</a></li>
        <li><a href="{{ site.url }}/views/slides/all.html">Slide View</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Announcements Only <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{{ site.url }}/views/text/announcements.html">Text View</a></li>
        <li><a href="{{ site.url }}/views/slides/announcements.html">Slide View</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sports Only <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{{ site.url }}/views/text/sports.html">Text View</a></li>
        <li><a href="{{ site.url }}/views/slides/sports.html">Slide View</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Clubs Only <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{{ site.url }}/clubs.html">Text View</a></li>
        <li><a href="{{ site.url }}/views/slides/clubs.html">Slide View</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Submit <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="{{ site.url }}/submit/easy.html">Easy Form</a></li>
        <li><a href="{{ site.url }}/submit/announcements.html">Announcement</a></li>
        <li><a href="{{ site.url }}/submit/sports.html">Sporting Event</a></li>
        <li><a href="{{ site.url }}/submit/club.html">Club</a></li>
      </ul>
    </div>
  </p>
</div>
