---
layout: default
---

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {% for post in site.posts %}
      <tr>
        <td>
          {{ post.date | date: "%A, %B %d, %Y" }}
        </td>
        <td>
          <a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
