<div class="alert alert-danger" role="alert">
  <strong>Warning!</strong> This feature is still a work in progress.  
</div>
<div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Before diving into a contribution, make sure you
  check this site's <a href="{{ site.gitlab_url }}/issues">issues</a> and
  <a href="{{ site.gitlab_url }}/merge_requests">pull requests</a>
  incase someone else already submitted a change.
</div>
