<h3>
  {% if include.announcement.changes %}
    <span class="label label-warning">Changed</span> - 
  {% endif %}
  {{ include.announcement.title}}
</h3>
<section>
  <ul class="fa-ul">
    {% if include.announcement.date %}
      <li><i class="fa-li fa fa-calendar fa-fw" aria-hidden="true"></i> Date: {{ include.announcement.date | date: "%A, %B %e, %Y %l:%M%P %Z" }} (<time class="timeago" datetime="{{ include.announcement.date | date_to_xmlschema }}">{{ include.announcement.date | date: "%A, %B %e, %Y %l:%M%P %Z" }}</time>)</li>
    {% endif %}
    {% if include.announcement.location %}
      <li><i class="fa-li fa fa-map-marker fa-fw" aria-hidden="true"></i> Location: {{ include.announcement.location }}</li>
    {% endif %}
  </ul>
</section>
{% if include.announcement.changes %}
  <section>
    <p>
       <strong>Changes:</strong> {{ include.announcement.changes | markdownify | strip}}
    </p>
  </section>
{% endif %}
{% if include.announcement.picture %}
  <section>
    <img src="{{ site.url }}/img/announcement/{{ include.annoucement.picture }}" class="img-responsive" alt="{{ include.announcement.picture-alt }}">
  </section>
{% endif %}
{% if include.announcement.video %}
  <section>
    <iframe data-src="{{ include.announcement.video }}"></iframe>
  </section>
{% endif %}
{% if include.announcement.tweet %}
  <section>
    {{ include.announcement.tweet }}
  </section>
{% endif %}
{% if include.announcement.description %}
  <section data-autoslide="{{ include.announcement.slidetime | defualt: 10000 }}">
    <p>
      {{ include.announcement.description | markdownify | strip}}
    </p>
  </section>
{% endif %}
