---
layout: default
slugjs: true
editabletable: true
---

<h1>Submit - Sports</h1>

{% include warnings/submit.html %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Notes</h3>
  </div>
  <div class="panel-body">

    <ul>
      <li>
        The color can be any color you wish to use for the background of the slide.
        You can use any <a href="https://en.wikipedia.org/wiki/Web_colors#X11_color_names">named colors</a>,
        or you can use a <a href="https://en.wikipedia.org/wiki/Web_colors#Hex_triplet">hex triplet</a>.
      </li>
      <li>
        All fields that show the <span class="label label-success">M</span> symbol accept
        <a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/">markdown</a>.
        Markdown includes features such as bold, italics, lists, and more. Feel free to
        use any markdown you wish.
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sports - Submission Form</h3>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <form action="javascript:submit('sport', ['title', 'color',
        'date', 'location', 'tickets', 'status', 'changes', 'description',
        'slidetime', 'result', 'score', 'awards', 'video', 'tweet']);" class="form-horizontal" id="form">
        <div class="form-group">
          <label for="title"><span class="label label-danger">Required</span> Title</label>
          <input type="text" class="form-control" id="title" required>
          <p class="help-block">
            Required: Displays on all pages.
          </p>
        </div>
        <div class="form-group">
          <label for="title"><span class="label label-info">Optional</span> Color</label>
          <input type="color" class="form-control" id="color">
          <p class="help-block">
            For Internet Explorer/iOS users: The color should be in the form
            <code>#000000</code> or <a href="https://en.wikipedia.org/wiki/Web_colors#X11_color_names"><code>html named colors</code></a>.
          </p>
        </div>
        <div class="form-group">
          <label for="title"><span class="label label-danger">Required</span> Date</label>
          <!-- Hopefully, Firefox and others will fix their implementation of `datetime-local` so I can use it...-->
          <input type="text" class="form-control" id="date" placeholder="YYYY-MM-DD HH:MM AM/PM" required>
          <p class="help-block">
            The date should be in the form <code>YYYY-MM-DD HH:MM AM/PM</code>.
            If no date is needed, please enter today's date.  If no time is
            needed, the time can be left blank.
          </p>
        </div>
        <div class="form-group">
          <label for="title"><span class="label label-info">Optional</span> Location</label>
          <input type="text" class="form-control" id="location">
        </div>
        <div class="form-group">
          <label for="title"><span class="label label-info">Optional</span> Tickets</label>
          <input type="text" class="form-control" id="tickets">
        </div>
        <div class="form-group">
          <label for="title"><span class="label label-info">Optional</span> Status</label>
          <input type="text" class="form-control" id="status">
          <p class="help-block">
            Show if the sporting event is in progress, delayed, completed, etc.
          </p>
        </div>
        <div class="form-group">
          <label for="title"><span class="label label-info">Optional</span> Changes <span class="label label-success">M</span></label>
          <!-- Hopefully, Firefox and others will fix their implementation of `datetime-local` so I can use it...-->
          <textarea class="form-control" id="changes"></textarea>
          <p class="help-block">
            List any changes from previous announcements, mainly used when it was announced elsewhere before import to this site.
          </p>
        </div>
        <div class="form-group">
          <label for="title"><span class="label label-info">Optional</span> Description <span class="label label-success">M</span></label>
          <!-- Hopefully, Firefox and others will fix their implementation of `datetime-local` so I can use it...-->
          <textarea class="form-control" id="description"></textarea>
          <p class="help-block">
            Optional, but highly suggested...
          </p>
        </div>
        <div class="form-group">
          <label for="title"><span class="label label-info">Optional</span> Slide Time</label>
          <div class="input-group">
            <input type="number" class="form-control" id="slidetime" placeholder="10">
            <span class="input-group-addon">Seconds</span>
          </div>
          <p class="help-block">
            Slide time is used to extend the default time that the description slides
            are visible. By default, this time is 10 seconds.
          </p>
        </div>
        <div class="form-group">
          <label for="title"><span class="label label-info">Optional</span> Result</label>
          <input type="text" class="form-control" id="result">
          <p class="help-block">
            Quick overview of the result.
          </p>
        </div>
        <div class="form-group">
          <label for="title"><span class="label label-info">Optional</span> Score</label>
          <div id="table" class="table-editable" id="score">
            <i class="table-add fa fa-plus" aria-hidden="true"></i>
            <table class="table">
              <tr>
                <th>Team</th>
                <th>Points</th>
                <th></th>
              </tr>
              <!-- This is our clonable table line -->
              <tr class="hide">
                <td contenteditable="true">Team</td>
                <td contenteditable="true">Points</td>
                <td>
                  <i class="table-remove fa fa-trash" aria-hidden="true"></i>
                </td>
              </tr>
            </table>
          </div>
          <p class="help-block">
            Add the scores to the game here!
          </p>
        </div>
        <div class="form-group">
          <label for="title"><span class="label label-info">Optional</span> Awards <span class="label label-success">M</span></label>
          <textarea class="form-control" id="awards"></textarea>
          <p class="help-block">
            List awards here if applicable.
          </p>
        </div>
        <div class="form-group">
          <label for="title"><span class="label label-info">Optional</span> Video</label>
          <input type="url" class="form-control" id="video">
          <p class="help-block">
            Please only paste the link to the video's embed page.
          </p>
        </div>
        <div class="form-group">
          <label for="title"><span class="label label-info">Optional</span> Tweet</label>
          <textarea class="form-control" id="tweet"></textarea>
          <p class="help-block">
            Please paste the entire twitter embed code.
          </p>
        </div>
        <input type="submit" class="btn btn-default" value="Submit" disabled="disabled" data-toggle="tooltip" data-placement="top" title="This feature is still a work in progress.">
      </form>
    </div>
  </div>
</div>
