<hr>
<footer>
  <strong>Licence</strong>
  <ul class="fa-ul">
    <li>
      <i class="fa-li fa fa-file-text-o" aria-hidden="true"></i> Content for {{ site.title }} is licensed under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </li>
    <li>
      <i class="fa-li fa fa-file-code-o" aria-hidden="true"></i> Code for {{ site.title }} is licenced under a <a href="http://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License v3</a>.
    </li>
  </ul>
  <p>
    Code avalible at <a href="{{ site.gitlab_url }}">{{ site.gitlab_url }}</a>
  </p>
  <p>
    Page compiled at {{ site.time | date: "%A, %B %e, %Y %l:%M%P %Z" }} (<time class="timeago" datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: "%A, %B %e, %Y %l:%M%P %Z" }}</time>) for commit
    <a data-toggle="tooltip" data-placement="auto" title="Environment: {{ jekyll.environment }}" href="{{ site.gitlab_url }}/commit/{{ site.data.git.build_revision }}">{{ site.data.git.build_revision }}</a>.
  </p>
</footer>

</div>
