  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/{{ site.data.versions.bootstrap }}/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <script src="{{ site.url }}/js/main.js"></script>
  {% if page.live-reload %}
    <script>
      setInterval(function(){
        $.ajax({
          url: "{{ site.url }}/api/version.txt",
          success: function(data) {
             if (!data.includes("{{ site.data.git.build_revision }}")) {
               window.location.reload(true);
             }
          },
          cache: false,
          dataType: "text"
        });
      }, 15000);
    </script>
  {% endif %}
</body>

</html>
