<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% feed_meta %}

    {% seo %}

    <script src="{{ site.url }}/js/rollbar.js"></script>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="apple-touch-icon" href="{{ site.url }}/icons/apple-touch-icon.png">

    <script src="https://code.jquery.com/jquery-{{ site.data.versions.jquery }}.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/{{ site.data.versions.bootstrap }}/css/bootstrap.min.css" crossorigin="anonymous">
    {% if page.theme or site.theme %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/{{ site.data.versions.bootstrap }}/{{ page.theme | default: site.theme }}/bootstrap.min.css" crossorigin="anonymous">
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/{{ site.data.versions.font-awesome }}/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.url }}/css/main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/{{ site.data.versions.timeago }}/jquery.timeago.min.js"></script>
    {% if page.slugjs %}
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/speakingurl/9.0.0/speakingurl.min.js"></script>
    {% endif %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/{{ site.data.versions.modernizer }}/modernizr.min.js"></script> -->
  </head>
  <body>
    {% if site.data.debug.googleanalytics %}
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{ site.data.debug.googleanalytics }}', {'siteSpeedSampleRate': 100});
      ga('require', 'linkid');

      ga('require', 'cleanUrlTracker');
      ga('require', 'eventTracker');
      ga('require', 'impressionTracker');
      ga('require', 'mediaQueryTracker');
      ga('require', 'outboundFormTracker');
      ga('require', 'outboundLinkTracker');
      ga('require', 'pageVisibilityTracker');
      ga('require', 'socialWidgetTracker');
      ga('require', 'urlChangeTracker');

      ga('send', 'pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/{{ site.data.versions.autotrack }}/autotrack.js"></script>
    {% endif %}
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.</p>
    <![endif]-->
