{% if include.link.dropdown %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ include.link.text }}<span class="caret"></span></a>
    <ul class="dropdown-menu">
      {% for dropdown in include.link.dropdown %}
      <li>
        {% if dropdown.internal-link %}
          <a href="{{ site.url }}/{{ dropdown.internal-link }}">{{ dropdown.text }}</a>
        {% else %}
          <a href="{{ dropdown.external-link }}">{{ dropdown.text }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </li>
{% else %}
  <li>
    {% if include.link.internal-link %}
      <a href="{{ site.url }}/{{ include.link.internal-link }}">{{ include.link.text }}</a>
    {% else %}
      <a href="{{ include.link.external-link }}">{{ include.link.text }}</a>
    {% endif %}
  </li>
{% endif %}
