---
layout: default
---

# Documentation

<div class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Before diving into a contribution, make sure you
  check this site's <a href="{{ site.gitlab_url }}/issues">issues</a> and
  <a href="{{ site.gitlab_url }}/pulls">pull requests</a>
  in case someone else already submitted a change.
</div>

<div class="alert alert-info" role="alert">
  <strong>Overwhelmed?</strong> Don't worry! Click
  <a href="{{ site.gitlab_url }}/issues">here</a> and create a new issue
  documenting what you would like included on the site.
  We can take care of the rest!
</div>

## Usage/Editing

If you would like to contribute to this website, please select one of the
options below.  If you are unsure of which catagory a page should be submitted
to, select the "Easy Form."  Otherwise, please select the appropriate catagory.

<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Submit <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="{{ site.url }}/submit/easy.html">Easy Form</a></li>
    <li><a href="{{ site.url }}/submit/announcements.html">Announcement</a></li>
    <li><a href="{{ site.url }}/submit/sports.html">Sporting Event</a></li>
    <li><a href="{{ site.url }}/submit/club.html">Club</a></li>
  </ul>
</div>
