<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Changes</th>
        <th>Picture Link</th>
        <th>Picture Alt</th>
        <th>Video Link</th>
        <th>Tweet</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for announcement in site.announcements %}
        {% include admin/announcement.html announcement=announcement %}
      {% endfor %}
    </tbody>
  </table>
</div>
