{% if include.announcement.enabled != true %}
<tr class="danger">
{% elsif include.announcement.enabled %}
<tr class="success">
{% else %}
<tr>
{% endif %}
  <th><a href="{{ include.announcement.url }}">{{ include.announcement.title }}</a></th>
  <td>{{ include.announcement.date | default: "" | date: "%A, %B %e, %Y" }}</td>
  <td>{{ include.announcement.time | default: "" | date: "%l:%M %Z" }}</td>
  <td>{{ include.announcement.location }}</td>
  <td>{{ include.announcement.changes | default: "" | markdownify | strip  }}</td>
  <td>
    {% if include.annoucement.picture %}
      <a href="{{ site.url }}/img/announcement/{{ include.annoucement.picture }}">{{ site.url }}/img/announcement/{{ include.annoucement.picture }}</a>
    {% endif %}
  </td>
  <td>{{ include.announcement.picture-alt | default: "" }}</td>
  <td><a href="{{ include.announcement.video }}">{{ include.announcement.video }}</a></td>
  <td>{{ include.announcement.tweet }}</td>
  <td>{{ include.announcement.description | default: "" | markdownify | strip }}</td>
</tr>
