<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Tickets</th>
        <th>Status</th>
        <th>Result</th>
        <th>Changes</th>
        <th>Description</th>
        <th>Score</th>
        <th>Awards</th>
        <th>Tweet</th>
      </tr>
    </thead>
    <tbody>
      {% for sport in site.sports %}
        {% include admin/sport.html sport=sport %}
      {% endfor %}
    </tbody>
  </table>
</div>
